@mixin stretch($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: absolute;
    margin: auto;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@font-face {
    font-family: 'Open Sans';
    src: local('☺'), url('../fonts/opensans-light.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Open Sans';
    src: local('☺'), url('../fonts/opensans-lightitalic.woff') format('woff');
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'Playfair Display';
    src: local('☺'), url('../fonts/playfairdisplay-bolditalic.woff') format('woff');
    font-style: italic;
    font-weight: 700;
}

html {
    height: 100%;
}
body {
    font: 400 16px/1.2 'Open Sans';
    color: white;
    margin: 0;
    min-width: 1300px;
    height: 100%;
    min-height: 400px;
    position: relative;
}
h1 {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    font-size: 120px;
    margin: 0 0 20px;
}
h2 {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    font-size: 65px;
    margin: 0 0 15px;
}
p {
    margin: 0 0 15px;
}
article {
    font-size: 25px;
    line-height: 1.4;
    margin: 40px 0 20px;
}
a {
    color: inherit;
}
.bgs {
    overflow: hidden;
    @include stretch;
    z-index: 0;
}
@keyframes in-upper {
    from {
        left: -50%;
        top: -50%;
    }
    to {
        left: 0;
        top: 0;
    }
}
@keyframes in-lower {
    from {
        left: 50%;
        top: 50%;
    }
    to {
        left: 0;
        top: 0;
    }
}
@keyframes out-upper {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: -50%;
        top: -50%;
    }
}
@keyframes out-lower {
    from {
        left: 0;
        top: 0;
    }
    to {
        left: 50%;
        top: 50%;
    }
}
.bgs-item {
    @include stretch;
    z-index: 0;
    &.in {
        .upper {
            animation: in-upper 300ms 1 both;
        }
        .lower {
            animation: in-lower 300ms 1 both;
        }
    }
    &.out {
        .upper {
            animation: out-upper 300ms 1 both;
        }
        .lower {
            animation: out-lower 300ms 1 both;
        }
    }
}
.upper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.lower {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.works {
    @include stretch;
    overflow: hidden;
    z-index: 1;
}
@keyframes work-in-up {
    from {
        top: -100%;
        visibility: hidden;
    }
    to {
        top: 0%;
        visibility: visible;
    }
}
@keyframes work-in-down {
    from {
        top: 100%;
        visibility: hidden;
    }
    to {
        top: 0%;
        visibility: visible;
    }
}

@keyframes work-out-up {
    from {
        top: 0%;
        visibility: visible;
    }
    to {
        top: -100%;
        visibility: hidden;
    }
}
@keyframes work-out-down {
    from {
        top: 0%;
        visibility: visible;
    }
    to {
        top: 100%;
        visibility: hidden;
    }
}
.works-item {
    padding: 50px 200px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 0;
}
.in-up {
    animation: work-in-up 300ms 1 both;
}
.in-down {
    animation: work-in-down 300ms 1 both;
}
.out-up {
    animation: work-out-up 300ms 1 both;
}
.out-down {
    animation: work-out-down 300ms 1 both;
}
.works-inner {
    height: 100%;
    text-align: center;
    font-size: 0;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    img {
        vertical-align: middle;
        max-width: 100%;
        max-height: 100%;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.28);
    }
}
.ui {
    @include stretch;
    z-index: 2;
    visibility: hidden;
    &.visible {
        visibility: visible;
    }
}
.about {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    cursor: pointer;
    user-select: none;
    &:before {
        content: '';
        @include stretch;
        width: 9px;
        height: 10px;
        background: url('../img/about.png');
    }
}
.info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    cursor: pointer;
    user-select: none;
    color: white;
    transition: color 200ms;
    span {
        @include stretch;
        width: 69px;
        height: 69px;
        line-height: 69px;
        background: black;
        border-radius: 50%;
        text-align: center;
        font-size: 50px;
        font-style: italic;
        font-weight: 700;
        font-family: 'Playfair Display';
    }
}
.controls {
    @include stretch($top: 50px, $left: auto, $bottom: 50px);
    width: 200px;
}
.controls-item {
    height: 16.66%;
    cursor: pointer;
    user-select: none;
    position: relative;
    &:before {
        content: '';
        @include stretch;
        width: 12px;
        height: 12px;
        background: black;
        border-radius: 50%;
        transition: width 200ms, height 200ms;
    }
    &.active {
        cursor: default;
        &:before {
            width: 18px;
            height: 18px;
        }
    }
}
.back {
    @include stretch;
    svg {
        width: 100%;
        height: 100%;
    }
}
.front {
    @include stretch;
}
.full {
    @include stretch;
    z-index: 3;
    visibility: hidden;
    overflow: hidden;
    transition: visibility 300ms;
    &.visible {
        visibility: visible;
        .hide {
            opacity: 1;
        }
    }
}
.full-bgs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.full-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.full-info-item {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    overflow: auto;
    padding: 50px 200px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 0;
    font-size: 0;
    &.in-up {
        animation-delay: 300ms;
    }
    &.in-down {
        animation-delay: 300ms;
    }
    &.out-up {
        animation-delay: 0ms;
    }
    &.out-down {
        animation-delay: 0ms;
    }
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}
.about-info {
    article {
        font-size: 45px;
    }
}
.full-info-inner {
    font-size: 16px;
    width: 900px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.hide {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    opacity: 0;
    transition: opacity 300ms;
    &:before {
        content: '';
        @include stretch;
        width: 9px;
        height: 9px;
        background: url('../img/hide.png');
    }
}
